* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: snow;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    display: inline-block;
    padding: 8px 20px;
    background: black;
    color: white;
    border-radius: 8px;
}

.container {
    display: flex;
    gap: 20px;
}

/* Left content column */
.left {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* RIGHT SIDEBAR */
.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* CARDS */
.info-card {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.info-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}

.info-card h4 {
    margin-bottom: 5px;
    color: #333;
}

.info-card p {
    font-size: 14px;
    color: #666;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
}