* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background:black;
    padding: 20px ;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 30px 0;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header .tag {
    background: red;
    color: white;
    padding: 3px 7px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 30px;
}

.left-column {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.read {
    display : inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 15px;
    border-radius: 4px;
}
.card h2, .card h3 {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 0 15px;
    }

    .left-column, .right-column {
        width: 100%;
    }
}   